body {
  font-family: Georgia, serif;
  background-color: #1e2833;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #ffffff;
}

section {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #ffffff;
}

select {
  padding: 8px;
  border-radius: 5px;
  background-color: #915431;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #915431;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover, button:hover {
  background-color: #7d492c;
}

h2, p {
  color: #ffffff;
}

input[type="number"],
button {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

input[type="number"] {
  width: 150px;
}

button {
  background-color: #915431;
  color: #ffffff;
  cursor: pointer;
}
